body,
h1,
form {
  font-family: "Comic Neue", cursive;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Comic Neue", cursive;
  background-color: #fef6ea;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;
  margin-top: 60px;
}

h1 {
  font-weight: bold;
  font-family: "Comic Neue", cursive;
  text-align: center;
  margin-bottom: 20px;
}

form {
  font-family: "Comic Neue", cursive;
  font-weight: bold;
  text-align: center;
  background-color: #fef6ea;
}

input[type="text"],
button {
  font-family: "Comic Neue", cursive;
  font-weight: bold;
  padding: 8px;
  font-size: 16px;
}

input[type="text"] {
  font-family: "Comic Neue", cursive;
  font-weight: bold;
  width: 500px;
  border-radius: 4px;
  background-color: inherit;
  border: 2px solid #333;
  padding: 12px;
}

.butt-wrapper {
  margin: 20px 0px;
}

button {
  font-family: "Comic Neue", cursive;
  font-weight: bold;
  margin: 4px;
  cursor: pointer;
  background-color: #fef6ea;
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 16px;
  box-shadow: 2px 2px 0 0 white, 4px 4px 0 0 black;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff6a71;
  color: #fff;
  box-shadow: 3px 3px white, 6px 6px 0 0 black;
  transform: translate(-2px, -2px);
}

table {
  font-family: "Comic Neue", cursive;
  font-weight: bold;
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  opacity: 0;
  animation: fadeInTable 1.5s forwards;
}

table th {
  font-family: "Comic Neue", cursive;
  font-weight: bold;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

table td {
  font-family: "Comic Neue", cursive;
  border: 1px solid #ccc;
  font-weight: bold;
  padding: 8px;
  text-align: center;
}

@keyframes fadeInTable {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

footer {
  background-color: #444;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  gap: 10px;
  margin-top: auto;
}
